<main class="flex items-center justify-center w-full px-4 mt-3">
<div class="w-full max-w-md rounded-lg bg-gray-50 border border-gray-200 p-5 mx-5" >
    <div class="py-4 flex justify-center">
        <div class="w-10 h-10 bg-linear-to-br from-[#1D7874] to-[#0e4b48] rounded-lg flex items-center justify-center shadow-lg">
          <svg width="30px" height="30px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 1L0 4V5C0 5 2 6 4 6C6 6 8 5 8 5C8 5 10 6 12 6C14 6 16 5 16 5V4L13 1H3Z" fill="#FFFFFF"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 15V7.5187C1.81671 7.76457 2.88168 8 4 8C5.3025 8 6.53263 7.68064 7.38246 7.39737C7.60924 7.32177 7.81664 7.24612 8 7.17526C8.18337 7.24612 8.39076 7.32177 8.61754 7.39737C9.46737 7.68064 10.6975 8 12 8C13.1183 8 14.1833 7.76457 15 7.5187V15H7V10H4V15H1ZM12 10H10V13H12V10Z" fill="#FFFFFF"/>
          </svg>
        </div>
    </div>
    <h1 class="mb-4 text-center text-2xl font-semibold">Se connecter</h1>
    <form  (ngSubmit)="onLogin()">
        <div class="mb-4">
            <label for="email" class="mb-1 block text-sm text-gray-400">Adresse e-mail</label>
            <input type="email" id="email" placeholder="name@example.com" autocomplete="email"
                [(ngModel)]="loginData.email"
                required
                name="email"
                class="py-2 w-full rounded border border-gray-300 bg-slate-100 px-2 text-center text-gray-400 placeholder-[#7f8c8d] focus:ring-2 focus:ring-indigo-500 focus:outline-none" />
        </div>
        <div class="mb-4">
            <label for="password" class="mb-1 block text-sm text-gray-400">Mot de passe</label>
            <input type="password" id="password" placeholder="Password" autocomplete="new-password"
              [(ngModel)]="loginData.password"
              required
              name="passwword"
                class="py-2 w-full rounded border border-gray-300 bg-slate-100 px-2 text-center text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:outline-none" />
        </div>
        <div class="mb-2 text-right">
            <a href="#" class="text-sm text-gray-400 hover:text-indigo-500">Mot de passe oublié?</a>
        </div>
        <button type="submit"
            class="py-2.5 font-medium w-full rounded bg-[#1D7874]
             text-white transition-colors duration-300 hover:bg-[#295553]">Se connecter
            </button>
    </form>




    <div class="mb-2 text-right mt-2">

            <a routerLink="/insert-user" class="text-sm text-gray-400 hover:text-indigo-500"> cliquez ici pour s'inscrire</a>
    </div>
    <div class="mb-2 text-right mt-2">

        <a href="/login-admin" class="text-sm text-gray-400 hover:text-indigo-500 mb-2 block"> connecter en tant que administrateur</a>
              <a href="/login-shop" class="text-sm text-gray-400 hover:text-indigo-500"> connecter en tant que boutique</a>
</div>
    <p class="mt-8 text-center text-sm text-gray-400">
        En cliquant sur Se connecter, vous acceptez nos
        <a href="#" class="underline">conditions d’utilisation</a> et <a href="#" class="underline">notre politique de confidentialité</a>.
    </p>
</div>
</main>
