<div class="p-6 font-bold text-indigo-500 text-2xl ">Administrateur</div>
<nav class="mt-8">
        <a routerLink="/admin/dashboard" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Dashboard</a>
        <a href="#" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Boutiques</a>
        <a routerLink="/admin/user" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Utilisateurs</a>
        <a href="#" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Parametres</a>
</nav>
