<footer class="w-full mt-50">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <!--Grid-->
            <div class="grid grid-cols-12 gap-8 py-14 lg:grid-cols-8">
                <div class="mb-0 col-span-full lg:col-span-3 ">
                    <a href="https://pagedone.io/"  class="flex justify-center lg:justify-start">
                       <h1 class="font-medium text-lg">SmartShop</h1>
                    </a>
                    <p class="py-8  text-gray-500 lg:max-w-xs text-center lg:text-left">

                    Marketplace Tech à Antananarivo
                    +50 boutiques • 10 000+ produits • Comparaison prix
                    Livraison gratuite dès 300 000 MGA • Service client 24/7
                    </p>


                </div>
                <!--End Col-->
                <div class=" w-full text-center lg:w-auto lg:text-left col-span-full sm:col-span-4 md:col-span-4 lg:col-span-4 ">
                    <h4 class="text-lg text-gray-900 font-medium mb-7">Developpeur</h4>
                    <ul class="text-gray-600  transition-all duration-500">
                        <li class="mb-6">RAKOTOHASIMBOLA Hasiniaina Jenny Randresena</li>
                        <li class="mb-6">RAZAFINDRADRIANA Jean Louis</li>

                    </ul>
                </div>
                <!--End Col-->
                <div class="w-full text-center lg:w-auto lg:text-left col-span-full sm:order-last sm:col-span-4 md:col-span-4 lg:order-0 lg:col-span-1 ">
                    <h4 class="text-lg text-gray-900 font-medium mb-7">Products</h4>
                    <ul class="text-gray-600 transition-all duration-500  ">
                        <li class="mb-6"><a href="javascript:;"  class="text-gray-600 hover:text-gray-900">Top Produits</a></li>
                        <li class="mb-6"><a href="javascript:;"  class=" text-gray-600 hover:text-gray-900">Votre panier</a></li>
                        <li class="sm:mb-6"><a href="javascript:;"  class=" text-gray-600 hover:text-gray-900">Features</a></li>
                    </ul>
                </div>
                <!--End Col-->
            </div>
            <!--Grid-->
            <div class="py-7 border-t border-gray-200">
                <div class="flex items-center justify-center flex-col lg:justify-between lg:flex-row">
                    <span class="text-sm text-gray-500 ">©<a href="https://pagedone.io/">pagedone</a> 2024, All rights reserved.</span>
                    <ul class="flex items-center gap-9 mt-4 lg:mt-0">
                        <li><a href="javascript:;"  class="text-sm text-gray-500">Terms</a></li>
                        <li><a href="javascript:;"  class="text-sm text-gray-500">Privacy</a></li>
                        <li><a href="javascript:;"  class="text-sm text-gray-500">Cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
