<div class="p-6 font-bold text-indigo-500 text-2xl ">Administrateur</div>
<nav class="mt-8">
        <a routerLink="/admin/dashboard" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Dashboard</a>
        <a routerLink="/admin/boutique" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Boutiques</a>
        <a routerLink="/admin/utilisateur" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Utilisateurs</a>
        <a routerLink="/admin/finance" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Finance</a>
        <a routerLink="/admin/perf" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Performance</a>
        <a routerLink="/admin/info" class="block py-3 px-6 text-gray-700 hover:text-indigo-500">Parametres</a>
</nav>
